
<!DOCTYPE html>
<html>
  <head>
    
    <title>调查对象与参与人关系</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	
	<link href="css/public.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>
	<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="js/jquery.htmlClean.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	
	
	<script type="text/javascript" src="js/angular-contenteditable.js"></script>
	<script type="text/javascript" src="js/participant.js"></script>

  </head>
  
  <body ng-app="qn" ng-controller="questionnaire">
    <div class="wjContent">
<div class="container-fluid clear">
<div class="row-fluid">
<!--wentop-->
<div class="wentop">
<ul class="nav1 nav2-tabs" id="myTab">
<li class="active">
<a href="#design" data-toggle="tab">关系维护</a>
</li>
</ul>
<h4 class="h4st1">
调查对象与参与人关系维护
</h4>
<div class="tab2-content" id="myTabContent">
<div class="tab-pane fade in active" id="design">
<ul class="fr">
<li>
<a id="appearset" href="javascript:getData();"> <i class="design-set1-icon active"></i>
保存关系
</a>
</li>
</ul>
</div>
</div>
<!--/.tab2-content--> </div>
<!--/.wentop-->
<div class="rows1">
<div class="well sidebar-nav affix-top" id="accordion1">
<div class="accordion-group">
<h4 class="tc">
<a href="javascript:;">
调查对象
<i class="icon_on"></i>
</a>
</h4>
<ul class="ul-tool">
<li class="moduleL ui-draggable">
<a href="javascript:;">
<i class="basic-too11-icon-active"></i>
青岛局
</a>

<div class="topic_type" problemType="radio" >
<div class="topic_type_con">
<div class="Drag_area">
	青岛局
</div>
<ul class="unstyled ">
</ul>

</div>
</div>





</li>
<li class="moduleL ui-draggable" >
<a href="javascript:;">
<i class="basic-too12-icon-active"></i>
烟台局
</a>


<div class="topic_type" problemType="checkbox">
<div class="topic_type_con">
<div class="Drag_area">
	烟台局
</div>
<ul class="unstyled ">
</ul>

</div>
</div>




</li>
<li class="moduleL ui-draggable">
<a href="javascript:;">
<i class="basic-too13-icon-active"></i>
荣成局
</a>

<div class="topic_type" problemType="completion">
<div class="topic_type_menu">
</div>
<div class="topic_type_con">
<div class="Drag_area">
	荣成局
</div>
<ul class="unstyled ">
</ul>

</div>
</div>



</li>
</ul>
</div>
</div>
</div>
<!--/.rows1-->

<div class="rows2 well2 Tj">
	
<h4 class="h4-bg T_edit p_title">2014山东检验检疫局调查问卷</h4>




<ul class="dragwen ui-sortable" >
	
<!-- 题目的html放这里 --> 
<li class="module" ng-repeat="problem in problems">


	

<!--单选题-->
<div class="topic_type">
<div class="topic_type_menu">
<div class="setup-group">
<h4>Q{{problem.sort+1}}</h4>
<a title="调查对象删除"  href="javascript:;" ng-click="removeProblem(problem.sort)"><i class="del2-icon-active"></i></a>
</div></div>
<div class="topic_type_con">
<div id="{{'problemName'+problem.sort}}" class="Drag_area" contenteditable="false" ng-model="problem.name" strip-br="true"  >
</div>

<ul class="unstyled ui-sortable "  style="height:200;">
<li class="module" ng-repeat="option in problem.options">
<label id="{{'optionName_'+problem.sort+'_'+option.sort}}" class="T_edit_min" contenteditable="false" ng-model="option.name" strip-br="true" ></label>
</li>
</ul>




</div>
</div>




<div class="updown" >
<a href="javascript:;" ng-click="upProblem(problem.sort)"><i title="上移本题" class="up-icon-active"></i></a><a href="javascript:;" ng-click="downProblem(problem.sort)"><i title="下移本题" class="down-icon-active"></i></a>
</div>
</li>

</ul>
<!--/.rows2--> </div>

<!-- 参与人 -->
    <div class="rows1">
<div class="well sidebar-nav affix-top" id="accordion1">
<div class="accordion-group">
<h4 class="tc">
<a href="javascript:;">
参与人
<i class="icon_on"></i>
</a>
</h4>
<ul class="ul-tool">

<li class="moduleL ui-draggable1" >
<a href="javascript:;">
<i class="basic-too12-icon-active"></i>
张三
</a>


<div class="topic_type" problemType="partic">
<div class="topic_type_con">
<div class="Drag_area">
	张三
</div>
</div>
</div>

</li>


<li class="moduleL ui-draggable1" >
<a href="javascript:;">
<i class="basic-too12-icon-active"></i>
李四
</a>


<div class="topic_type" problemType="partic">
<div class="topic_type_con">
<div class="Drag_area">
	李四
</div>
<ul class="unstyled ">
<li><label class="T_edit_min" name="option">李四</label></li>
</ul>

</div>
</div>

</li>


<li class="moduleL ui-draggable1">
<a href="javascript:;">
<i class="basic-too13-icon-active"></i>
王五
</a>

<div class="topic_type" problemType="partic">
<div class="topic_type_menu">
</div>
<div class="topic_type_con">
<div class="Drag_area">
	王五
</div>
<ul class="unstyled ">
<li><label class="T_edit_min" name="option">王五</label></li>
</ul>

</div>
</div>



</li>
</ul>
</div>
</div>
</div>
<!--/.rows1-->





<!--/.row-fluid--> </div>
<!--/container-fluid-->
</div>
  
  
  
    <!-- 编辑 -->
  

 
  <div id="problemNameEdit" class="zon_edit" style="left: 518px; top: 283.19px; width: 600px; position: absolute; min-height: 30px;display:none;">
  	<ul class="menu_edit" style="right: -32px; margin-top: 37px; display: none;">
  	<li><a class="SeniorEdit" href="#editorModal"   data-toggle="modal"><i class="menu_edit2_icon"></i>高级编辑</a></li>
  	</ul>
  	<div class="max_an" onclick="editDiv(true);"></div>
  	<div id="problemNameEditDiv" class="add_edit th4 q_title" style="min-height: 30px;" contenteditable="true" onblur="setProblemName(this);">
  	</div>
  </div>
  
  <div id="optionNameEdit"  style="left: 536px; top: 200px; width: 202px; position: absolute; min-height: 21px;display:none;">
	  <ul class="menu_edit" style="right: -20px; margin-top: 26px; display: none;">
	  <li><a class="option_Set" href="javascript:;"><i class="menu_edit1_icon"></i>选项设置</a></li>
	  <li><a class="SeniorEdit" href="javascript:;"><i class="menu_edit2_icon"></i>高级编辑</a></li>
	  <li><a class="logic_Set" href="javascript:;"><i class="menu_edit3_icon"></i>逻辑设置</a></li>
	  <li><a class="reference_Set" href="javascript:;"><i class="menu_edit4_icon"></i>引用设置</a></li>
	  </ul>
	  <div class="min_an" onclick="fast_machine(true);"></div>
	  <div id="optionNameEditDiv" class="add_edit T_edit_min" style="padding: 4px 0px 0px; width: 200px; min-height: 21px;" contenteditable="true"  onblur="setOptionName(this);"></div>
	  <ul class="fast_machine">
	  <li><a title="上移选项" class="EdUp nob" href="javascript:;" onclick="upOption();"><i class="menu_edit6_icon"></i></a></li>
	  <li><a title="下移选项" class="EdDn" href="javascript:;" onclick="downOption();"><i class="menu_edit7_icon"></i></a></li>
	  <li><a title="删除选项" class="DelEdit" href="javascript:;" onclick="deleteOption();"><i class="menu_edit5_icon"></i></a></li>
	  </ul>
  </div>
  
  
  
  
  
 
  <input id="sort1" type="hidden" vaule="0"/>
  <input id="sort2" type="hidden"/>
    </div>
  </body>
</html>
