<!DOCTYPE html>
<html>
<head>

    <title>调查对象与参与人关系</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/public.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script type="text/javascript" src="js/jquery-1.9.0.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.0.0.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>


    <script type="text/javascript" src="participant.js"></script>
</head>

<body ng-app="qn" ng-controller="questionnaire">
<div class="wjContent">
    <div class="container-fluid clear">
        <div class="row-fluid">
            <!--wentop-->
            <div class="wentop">
                <ul class="nav1 nav2-tabs" id="myTab">
                    <li class="active">
                        <a href="#design" data-toggle="tab">关系维护</a>
                    </li>
                </ul>
                <h4 class="h4st1">
                    调查对象与参与人关系维护
                </h4>

                <div class="tab2-content" id="myTabContent">
                    <div class="tab-pane fade in active" id="design">
                        <ul class="fr">
                            <li>
                                <a id="initData" href="javascript:void(0);" ng-click="initData();"> <i
                                        class="design-set2-icon active"></i>
                                    初始化数据
                                </a>
                            <li>
                                <a id="appearset" href="javascript:;" ng-click="getData();"> <i class="design-set1-icon active"></i>
                                    保存关系
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/.tab2-content--> </div>
            <!--/.wentop-->
            <div class="rows1">
                <div class="well sidebar-nav affix-top" >
                    <div class="accordion-group">
                        <h4 class="tc">
                            <a href="javascript:;">
                                调查对象
                                <a  href="#addRespondentModal" data-toggle="modal">+</a>
                            </a>
                        </h4>
                        <ul id="respondentUL" class="ul-tool">
                            <li class="moduleL ui-draggable" ng-repeat="respondent in respondents">
                                <a href="javascript:;">
                                    <i class="basic-too13-icon-active"></i>
                                    {{respondent.objName}}<button type="button" class="close" ng-click="delRespondent(respondent.orderNum);"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                </a>

                                <div class="topic_type">
                                    <div class="topic_type_con">
                                        <div class="Drag_area">
                                            {{respondent.objName}}
                                        </div>
                                        <ul class="unstyled ">
                                        </ul>

                                    </div>
                                </div>


                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/.rows1-->

            <div class="rows2 well2 Tj">

                <h4 class="h4-bg T_edit p_title">调查对象与参与人关系维护</h4>


                <ul id="dragwenTarget" class="dragwen ui-sortable">

                    <!-- 调查对象的html放这里 -->
                    <li class="module" ng-repeat="respondent in respondents">


                        <!--调查对象-->
                        <div class="topic_type">
                            <div class="topic_type_menu">
                                <div class="setup-group">
                                    <h4>{{respondent.objName}}</h4>
                                    <a title="设置参与对象" href="#editParticipantModal" data-toggle="modal" ng-click="optionParticipant(respondent.orderNum);"><i class="add-icon-active"></i></a>
                                </div>
                            </div>
                            <div class="topic_type_con">
                                <ul class="unstyled ui-sortable">


                                    <!-- 参与人的html放这里 -->
                                    <li class="moduleOption"
                                        ng-if="respondentParticipant.respondentId == respondent.respondentId"
                                        ng-repeat="respondentParticipant in respondentParticipants">

                                        <!--参与人-->
                                        <div id="{{'optionName_'+problem.sort+'_'+option.sort}}"
                                             ng-if="participant.participantId == respondentParticipant.participantId"
                                             ng-bind="participant.objName"
                                             ng-repeat="participant in participants"></div>
                                    </li>

                                </ul>


                            </div>
                        </div>


                    </li>

                </ul>
                <!--/.rows2--> </div>

            <!-- 参与人 -->
            <div class="rows1">
                <div class="well sidebar-nav affix-top" id="accordion1">
                    <div class="accordion-group">
                        <h4 class="tc">
                            <a href="javascript:;">
                                参与对象
                                <a  href="#addParticipantModal" data-toggle="modal">+</a>
                            </a>
                        </h4>
                        <ul id="particUL" class="ul-tool">

                            <li class="moduleL ui-draggable" ng-repeat="participant in participants">
                                <a href="javascript:;">
                                    <i class="basic-too12-icon-active"></i>
                                    {{participant.objName}}<button type="button" class="close" ng-click="delParticipant(participant.orderNum);"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                </a>


                                <div class="topic_type">
                                    {{participant.objName}}
                                </div>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!--/.rows1-->


            <!--/.row-fluid--> </div>
        <!--/container-fluid-->
    </div>
</div>

<!-- 设置参与对象-->
<div class="modal fade" id="editParticipantModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">编辑参与对象</h4>
            </div>
            <div>
                <ul>
                    <li ng-repeat="participant in participants">
                        <input name="curParticipantCheck" type="checkbox" value="{{participant.participantId}}"/> {{participant.objName}}
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-default btn-primary" data-dismiss="modal" ng-click="saveParticipants();">保存
                </button>
                <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- 添加调查对象-->
<div class="modal fade" id="addRespondentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加调查对象</h4>
            </div>
            <div  class="modal-body">

                <div class="input-group">
                    <span  class="input-group-addon">调查对象类型</span>
                    <select class="form-control"  ng-model="objType" >
                        <option value="">请选择</option>
                        <option value="orgUnit">单位</option>
                        <option value="department">部门</option>
                        <option value="employee">人员</option></select>
                </div>


                    <div class="input-group">
                        <span  class="input-group-addon">调查对象</span>
                        <input name="title" type="text" class="form-control" placeholder=""  ng-model="addRespondentsText" required/>
                    </div>


            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-default btn-primary" data-dismiss="modal" ng-click="addRespondents();">保存
                </button>
                <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- 添加参与对象-->
<div class="modal fade" id="addParticipantModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加参与对象</h4>
            </div>
            <div  class="modal-body">

                <div class="input-group">
                    <span  class="input-group-addon">参与对象类型</span>
                    <select class="form-control"  ng-model="objType" >
                        <option value="">请选择</option>
                        <option value="orgUnit">单位</option>
                        <option value="department">部门</option>
                        <option value="employee">人员</option></select>
                </div>


                <div class="input-group">
                    <span  class="input-group-addon">参与对象</span>
                    <input id="title" name="title" type="text" class="form-control" placeholder=""  ng-model="addParticipantsText" required/>
                </div>


            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-default btn-primary" data-dismiss="modal" ng-click="addParticipants();">保存
                </button>
                <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</body>
</html>
