<!DOCTYPE html>
<html>
<head>

    <title>问卷设计</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link href="css/public.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="js/jquery.htmlClean.js"></script>
    <script type="text/javascript" src="ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="ckeditor/config.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>


    <script type="text/javascript" src="js/angular-contenteditable.js"></script>
    <script type="text/javascript" src="js/angularComponent.js"></script>
    <script type="text/javascript" src="qn.js"></script>
    <script type="text/javascript" src="problemTypes.js"></script>

</head>

<body ng-app="qn" ng-controller="questionnaire">
<div class="wjContent">
<div class="container-fluid clear">
    <div class="row-fluid">
        <!--wentop-->
        <div class="wentop">
            <ul class="nav1 nav2-tabs" id="myTab">
                <li class="active">
                    <a href="#design" data-toggle="tab">问卷设计</a>
                </li>
            </ul>
            <h4 class="h4st1">
                滿意度調查
            </h4>

            <div class="tab2-content" id="myTabContent">
                <div class="tab-pane fade in active" id="design">
                    <ul class="fr">
                        <li>
                            <a id="appearset" href="javascript:getData();"> <i class="design-set1-icon active"></i>
                                保存问卷
                            </a>
                        </li>
                        <li>
                            <a href="javascript:window.open('qnView.html');void(0);">
                                <i class="design-set4-icon"></i>
                                预览问卷
                            </a>
                        </li>
                        <li>
                            <a onclick="publish_proj_confirm();return false;" href="#" target="_blank">
                                <i class="design-set5-icon"></i>
                                发布问卷
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.tab2-content--> </div>
        <!--/.wentop-->
        <div class="rows1">
            <div class="well sidebar-nav affix-top" id="accordion1">
                <div class="accordion-group">
                    <h4 class="tc">
                        <a href="javascript:;">
                            基本题型
                            <i class="icon_on"></i>
                        </a>
                    </h4>
                    <ul class="ul-tool">


                        <li class="moduleL ui-draggable" ng-repeat="problemType in problemTypes">
                            <a href="javascript:;">
                                <i class="{{problemType.class}}"></i>
                                {{problemType.name}}
                            </a>

                            <div class="topic_type" problemType="{{problemType.problemType}}">
                                <div class="topic_type_con">
                                    <div class="Drag_area">
                                        {{problemType.name}}
                                    </div>

                                    <ul class="unstyled " ng-if="problemType.problemType == 'radio'">
                                        <li><input type="radio"><label class="T_edit_min">选项1</label></li>
                                        <li><input type="radio"><label class="T_edit_min" name="option">选项2</label></li>
                                    </ul>

                                    <ul class="unstyled " ng-if="problemType.problemType == 'checkbox'">
                                        <li><input type="checkbox"><label class="T_edit_min">选项1</label></li>
                                        <li><input type="checkbox"><label class="T_edit_min" name="option">选项2</label>
                                        </li>
                                    </ul>

                                    <ul class="unstyled " ng-if="problemType.problemType == 'completion'">
                                        <li>
                                            <div class="option_Fill">
                                                <textarea rows="1" cols="40" type="text"></textarea>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="unstyled " ng-if="problemType.problemType == 'paging'">
                                        <li>
                                            <div class="icon_paging"></div>
                                            <div class="fr con_paging"></div>
                                        </li>
                                    </ul>


                                </div>
                            </div>

                        </li>


                    </ul>
                </div>
            </div>
        </div>
        <!--/.rows1-->
        <div class="rows2 well2 Tj">

            <h4 class="h4-bg T_edit p_title">11</h4>

            <table class="table1 bg-m">
                <tbody>
                <tr>
                    <td class="rb">&nbsp;</td>
                    <td>
                        <div id="titleEdit" class="th4 T_edit p_begin_desc" name="begin_desc" contenteditable="true"
                             ng-model="qnObj.title" strip-br="true" ng-click="titleEditShow();"></div>
                    </td>
                </tr>
                </tbody>
            </table>


            <ul class="dragwen ui-sortable">

                <!-- 题目的html放这里 -->
                <li class="module" ng-repeat="problem in problems">
                    <!-- 分页 -->
                    <table class="paging" ng-if="problem.type == 'paging'">
                        <tbody>
                        <tr>
                            <td class="rb">
                                <div class="setup-group">
                                    <a title="删除分页" href="javascript:;" ng-click="removeProblem(problem.sort)"><i
                                            class="del2-icon-active"></i></a>
                                </div>
                            </td>
                            <td>
                               <div class="icon_paging"></div>
                               <div class="fr con_paging">
                                   <span ng-repeat="option in problem.options">
                                    页码 : {{option.sort}}/{{option.total}}
                                   </span>
                               </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <!-------------- 题目 ----------------->
                    <div class="topic_type" ng-if="problem.type != 'paging'">
                        <div class="topic_type_menu">
                            <div class="setup-group">
                                <!-- 题号 -->
                                <div ng-if="problem.type != 'paging'">
                                    <h4>Q{{problem.sort+1}}</h4>
                                    <a title="题目删除" href="javascript:;" ng-click="removeProblem(problem.sort)"><i
                                            class="del2-icon-active"></i></a>
                                </div>
                                <div ng-if="problem.type == 'paging'">
                                    <a title="删除分页" href="javascript:;" ng-click="removeProblem(problem.sort)"><i
                                            class="del2-icon-active"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="topic_type_con">
                            <div id="{{'problemName'+problem.sort}}" class="Drag_area" contenteditable="true"
                                 ng-model="problem.name" strip-br="true" ng-click="problemNameEditShow(problem.sort);">
                            </div>
                            <!------- 单选题 ------->
                            <ul class="unstyled " ng-if="problem.type == 'radio'">
                                <li ng-repeat="option in problem.options"><input type="radio"><label
                                        id="{{'optionName_'+problem.sort+'_'+option.sort}}" class="T_edit_min"
                                        contenteditable="true" ng-model="option.name" strip-br="true"
                                        ng-click="optionNameEditShow(problem.sort,option.sort);"></label></li>
                            </ul>

                            <!------- 复选题 ------->
                            <ul class="unstyled " ng-if="problem.type == 'checkbox'">
                                <li ng-repeat="option in problem.options">
                                    <input type="checkbox">
                                    <label id="{{'optionName_'+problem.sort+'_'+option.sort}}" class="T_edit_min"
                                           contenteditable="true" ng-model="option.name" strip-br="true"
                                           ng-click="optionNameEditShow(problem.sort,option.sort);"></label>
                                </li>
                            </ul>

                            <!------- 填空题 ------->
                            <ul class="unstyled" ng-if="problem.type == 'completion'">
                                <li>
                                    <div class="option_Fill">
                                        <textarea rows="1" cols="40" type="text"></textarea>
                                    </div>
                                </li>
                            </ul>

                            <div class="operationH" ng-if="problem.type == 'radio' || problem.type == 'checkbox'"><a
                                    href="javascript:;" ng-click="addOption(problem.sort)">
                                <i title="添加选项" class="add-icon-active"></i></a>
                            </div>
                        </div>
                    </div>


                    <div class="updown">
                        <a href="javascript:;" ng-click="upProblem(problem.sort)"  ><i title="上移本题" class="up-icon-active"></i></a>
                        <a href="javascript:;" ng-click="downProblem(problem.sort)"><i title="下移本题" class="down-icon-active"></i></a>
                    </div>
                </li>

            </ul>
            <!--/.rows2--> </div>
        <!--/.row-fluid--> </div>
    <!--/container-fluid-->
</div>


<!-- 编辑 -->

<div class="modal fade" id="editorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">编辑</h4>
            </div>
            <div>
                <textarea id="contenteditor"></textarea>
            </div>
            <div class="modal-footer">
                <button id="savecontent" type="button" class="btn btn-default btn-primary" data-dismiss="modal">保存
                </button>
                <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div id="problemNameEdit" class="zon_edit"
     style="left: 518px; top: 283.19px; width: 600px; position: absolute; min-height: 30px;display:none;">
    <ul class="menu_edit" style="right: -32px; margin-top: 37px; display: none;">
        <li><a class="SeniorEdit" href="#editorModal" data-toggle="modal"><i class="menu_edit2_icon"></i>高级编辑</a></li>
    </ul>
    <div class="max_an" onclick="editDiv(true);"></div>
    <div id="problemNameEditDiv" class="add_edit th4 q_title" style="min-height: 30px;" contenteditable="true"
         onblur="setProblemName(this);">
    </div>
</div>

<div id="optionNameEdit"
     style="left: 536px; top: 200px; width: 202px; position: absolute; min-height: 21px;display:none;">
    <ul class="menu_edit" style="right: -20px; margin-top: 26px; display: none;">
        <li><a class="option_Set" href="javascript:;"><i class="menu_edit1_icon"></i>选项设置</a></li>
        <li><a class="SeniorEdit" href="javascript:;"><i class="menu_edit2_icon"></i>高级编辑</a></li>
        <li><a class="logic_Set" href="javascript:;"><i class="menu_edit3_icon"></i>逻辑设置</a></li>
        <li><a class="reference_Set" href="javascript:;"><i class="menu_edit4_icon"></i>引用设置</a></li>
    </ul>
    <div class="min_an" onclick="fast_machine(true);"></div>
    <div id="optionNameEditDiv" class="add_edit T_edit_min"
         style="padding: 4px 0px 0px; width: 200px; min-height: 21px;" contenteditable="true"
         onblur="setOptionName(this);"></div>
    <ul class="fast_machine">
        <li><a title="上移选项" class="EdUp nob" href="javascript:;" onclick="upOption();"><i
                class="menu_edit6_icon"></i></a></li>
        <li><a title="下移选项" class="EdDn" href="javascript:;" onclick="downOption();"><i class="menu_edit7_icon"></i></a>
        </li>
        <li><a title="删除选项" class="DelEdit" href="javascript:;" onclick="deleteOption();"><i
                class="menu_edit5_icon"></i></a></li>
    </ul>
</div>


<input id="sort1" type="hidden" vaule="0"/>
<input id="sort2" type="hidden"/>
</body>
</html>
